$green: #00b800;
$red: #b80f00;
body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: black;
  color: white;
}
.battery-app {
  display: flex;
  flex-direction: column;
  align-items: center;

  .dashboard {
    h1 {
      text-transform: uppercase;
    }
    h2 {
      text-transform: uppercase;
      font-size: 1.25em;
    }
    p {
      font-size: 2.5em;
      color: $green;
      span[low="true"] {
        color: $red;
      }
    }
    @media (min-width: 480px) {
      &nth-child(2) {
        float: left;
      }
    }
  }
  .pie-chart {
    height: 75vh;
  }
}
.text-center {
  text-align: center;
}
